*{
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
    --main-color:  rgb(156, 108, 115);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

p::selection, span::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}

.main-page{
    display: flex;
    justify-content: center;
    height: 1400px;
    background: url('./assets/imgs/main-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.main-page-section{
    margin-top: 20%;
}

.main-flair{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(68, 44, 52);
    font-weight: 100 ;
    color: white;
    animation: up 1s;
}

@keyframes up {
    0% {
        margin-top: 220px;
        opacity: 0;
    }
    90% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    background-color: rgb(68, 44, 52);
    grid-gap: 24px;
    position: fixed;
    justify-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
.footer-content{
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68, 44, 52);
    height: 10px;
    color: white;
}


.header-title{
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.header-title h1{
    font-size: 32px;
    color: white;
    font-style: oblique;
    height: 100%;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#brand-icon{
    width: 100px;
    height: 100px;
}

ul{
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
    list-style-type: none;
    padding-right: 32px;
    
}
li{
    display: flex;
    align-items: center;
}

li span{
    font-size: 32px;
}

nav{
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
}

.sep{
    color: rgb(40, 15, 15);
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

nav a:hover{
    color: rgb(40, 15, 15);
}

.active-route-a{
    color: rgb(40, 15, 15);
}